@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* global.css */
:root {
    --bg: #ffffff;
    --text-color: #000000;
    --primary-color: #39b5e6;
    --letter-color:rgb(0, 0, 86);
    --card-bg: #ffffff;
    --b-color: rgb(0, 56, 177);
    --heading-bg: rgb(0, 128, 255);
    --darker-bg: rgb(3, 59, 115);
    --shadow:rgb(143, 167, 220);
    --slide-color: rgb(255, 249, 138);
    --card-title:rgb(255, 0, 0);
    --ac-card: rgb(249, 205, 212);
  }
  
  body.dark {
    --bg: #000000;
    --text-color: #ffffff;
    --primary-color: #f94434;
    --letter-color:rgb(195, 28, 28);
    --card-bg: #060606;
    --b-color:red;
    --heading-bg: rgb(194, 0, 0);
    --darker-bg: rgb(88, 3, 3);
    --shadow:#ee1b08;
    --slide-color: rgb(254, 4, 4);
    --card-title:rgb(252, 219, 86);
    --ac-card: black;
  }
  
  body {
    background-color: var(--bg);
  }
  
  * {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  