.h2{
    text-align: center;
    margin: 2%;
    background-color: var( --b-color);
    color: white;
    border-radius: 20px;
    font-family: "Merriweather", serif;
}

.h4{
    margin-left: 2%;
    background: linear-gradient(to right,var(--heading-bg), black);
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.h5{
    color:var(--text-color);
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: red;
}
ul{
    color: red;
    list-style-type:square;
    font-size: 20px;
}
p{
    color: var(--text-color);
    margin-left: 2%;
}
.parahead{
    color: var(--text-color);
    margin-left: 2%;
    font-size: large;
    font-weight: bold;
}
.paragraph li{
    color:var(--text-color);
    list-style-type:lower-roman;
}
.live{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content:center;
}
.live a{
    color: white;
    text-decoration: none;
    background-color:var(--heading-bg);
    padding: 10px;
    border: 2px solid white;
    border-radius: 14px;
    margin-left: 2%;
}