.container {
    text-align: center;
    margin-top: 2rem;
  }
  
  .Apphead {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
  }
  
  .List {
    margin-top: 2rem;
  }
  
  .h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .inputContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .textbox {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 250px;
    outline: none;
  }
  
  .icon {
    font-size: 2rem;
    cursor: pointer;
    color: green;
  }
  
  .taskList {
    list-style:square;
    padding: 10px;
    margin-top: 1rem;
    background-color: #0000004b;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 1000px 15px 20px 150px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .taskItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px; 
  padding: 10px;
  border-bottom: 1px solid #ccc;
  flex-wrap: nowrap;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: rgb(255, 251, 130);
    list-style:decimal;
    font-size: 20px;
    font-family: "Merriweather", serif;
    font-weight: bolder;
}

.task {
    flex: 1;
    word-break: break-word; 
  }

 
  .edit{
    padding: 6px;
    border-radius: 50px 50px 50px 50px;
    color: rgb(255, 255, 255);
    background-color: purple;
    border: none;
    font-size: 15px;
  }

  .delete{
    padding: 6px;
    border-radius: 50px 50px 50px 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border: none;
    font-size: 15px;
  }
  .Done{
    padding: 6px;
    border-radius: 50px 50px 50px 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(13, 255, 0);
    border: none;
    font-size: 15px;
  }

  .clearBtn{
    padding: 9px;
    border-radius: 10px;
    background-color: rgb(34, 39, 183);
    color: white;
    border: none;
    font-size: 17px;
  }
  .edit:hover,
.delete:hover,
.Done:hover,
.clearBtn:hover {
  cursor: pointer;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(0, 0, 0);
  transform: scale(1.12);
  transition: all 1s;
}
