.h2{
    text-align: center;
    margin: 2%;
    background-color:var(--b-color);
    color: white;
    border-radius: 20px;
    font-family: "Merriweather", serif;
}
.cards{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    color: var(--b-color);
    font-size: 110px;
}
.cards > div {
    border: 2px solid var(--b-color);
    max-width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color:var(--card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    gap: 10px; 
  }
  
  
.cards p{
    color:  var( --text-color);
    font-size: 18px;
    text-align: justify;
}
.cards > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(255, 0, 0, 0.4);
    background-color:var( --card-bg);
    transition: all 0.3s ease-in-out;
  }
  
  @media only screen and (max-width: 1000px) {
    .cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
  
    .cards > div {
      width: 90%;
      max-width: none;
    }
  }
  